#cross-section {
  background-color: #ebebeb;
  padding-top: 2.75em;
  text-align: center;

  #cross-section-image-container {
    margin-bottom: 2.75em;

    .cross-section-img {
      max-width: 100%;
    }
  }

  p {    
    margin-bottom: 2.75em;
  }

  .headline {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 0.5em;
  }
}
