#cvf {
  background-color: #ebebeb;
  text-align: center;
  padding-top: 2.75em;
  padding-bottom: 3em;

  .headline {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 2em;
  }

  .btn {
    padding: 9px 22px;
    width: 150px;
    max-width: 100%;
    margin-bottom: 1em;
  }

  .btn-default {
    color: #006c4a;
    background-color: transparent;
    border-color: #006c4a;
  }

  .btn-default:hover,
  .btn-default:focus {
    color: #006c4a;
    background-color: rgba(0, 108, 74, 0.3);
    border-color: #006c4a;
  }

  @media screen and (min-width: $break_xs + 'px') {
    .headline {
      font-size: 3em;
    }
  }

  @media screen and (min-width: $break_sm + 'px') {
    #cennik-link {
      float: right;
    }

    #financovanie-link {
      float: left;
    }
  }
}
