#floor-plans {
  background-color: #006c4a;
  color: #fff;
  text-align: center;
  padding-top: 4em;

  img {
    max-width: 100%;
    margin-bottom: 27px;
  }

  p {
    margin-bottom: 0em;
    line-height: 1.5em;
  }

  p:last-of-type {
    margin-bottom: 2.5em;
  }

  .btn {
    padding: 9px 53px;
    margin-bottom: 3.125em;
  }

  .btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
  }

  .btn-default:hover,
  .btn-default:focus {
    color: #fff;
    background-color: #004b34;
    border-color: #fff;
  }

  p.floor-plan-name {
    margin-bottom: 1.5em;
    text-transform: uppercase;
  }

  p.headline {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 0.3333333333333333em;
  }
}
