#headline-block {
  background-image: url('../img/green-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 120em;

  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: -8.8125em;
  padding-top: 16.25em;
  padding-bottom: 6.75em;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 6px;

    display: block;
    position: absolute;
    bottom: -6px;

    background-image: url('../img/shadow-down.png');
    background-repeat: repeat-x;
  }

  p {
    display: block;
    margin: 0 auto;
  }

  .headline {
    text-transform: uppercase;
    max-width: 9.5833em;
    font-size: 3em;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 0.3333333333333333em;
  }
  .subheadline {
    max-width: 23.89em;
    font-size: 2em;
    margin-bottom: 0.5em;

    br {
      display: none;
    }
  }

  .btn-default:hover,
  .btn-default:focus {
    color: #fff;
    background-color: rgba(0,226,155, 0.5);
    border-color: #fff;
  }

  @media screen and (max-width: $break_xs - 1 + 'px') {
    font-size: 8px;
    padding-top: 12em;
    padding-bottom: 2.75em;

    .headline {
      max-width: 10em;
      margin-bottom: 0.6em;
    }
    .subheadline {
      margin-bottom: 0px;

      br {
        display: initial;
      }
    }
  }
}

#headline-block.pre-media {
  .btn {
    padding: 6px 22px;
  }

  .headline {
    max-width: 100%;
    font-size: 2.5em;
  }

  i.big {
    margin-bottom: 0.3em;
    display: block;
    color: #fff;
    font-size: 5em;
  }
}
