#lokalita {
  text-align: center;

  p {
    margin-bottom: 1.5em;
  }

  .headline {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 0.5em;
  }

  .btn {
    padding: 9px 22px;
  }

  .btn-default {
    color: #006c4a;
    background-color: transparent;
    border-color: #006c4a;
  }

  .btn-default:hover,
  .btn-default:focus {
    color: #006c4a;
    background-color: rgba(0, 108, 74, 0.3);
    border-color: #006c4a;
  }

  #lokalita-content {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  #map {
    max-width: 100%;
    margin-top: 0em;
    margin-bottom: 2em;
  }

  #map-holder {
    display: inline-block;

    .color-overlay {
      width: 100%;
      position: absolute;
      top: 0px;
      opacity: 0;
      background-color: rgba(0, 108, 74, 0.65);

      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s;

      .btn {
        position: relative;
        top: 48%;

        margin: 0 auto;
        display: block;
        width: 170px;
      }

      .btn-default {
        color: #fff;
        background-color: transparent;
        border-color: #fff;
      }

      .btn-default:hover,
      .btn-default:focus {
        color: #fff;
        background-color: rgba(0, 108, 74, 0.3);
        border-color: #fff;
      }
    }

    &:hover .color-overlay {
      opacity: 1;
    }
  }



  @media screen and (min-width: $break_xs + 'px') {
    text-align: left;

    .headline {
      font-size: 3em;
      margin-bottom: 0.5em;
    }

    #map {
      margin-top: 115px;
      margin-bottom: 0em;
    }
  }

  @media screen and (min-width: $break_sm + 'px') {
    #map {
      margin-top: 40px;
    }
  }

  @media screen and (min-width: $break_lg + 'px') {
    #map {
      max-width: 22.5em;
    }
  }


}
