.navbar {
  background-color: rgba(255,255,255, 0.8);
  border: 0px solid transparent;
  border-radius: 0px;
  margin-bottom: 0px;
  z-index: 1;

  .navbar-header {
    padding: 23px 0px;

    @media screen and (max-width: $break_xs - 1 + 'px') {
      padding: 15px 0px;
    }

    .navbar-brand {
      background-size: 100%;
      background-image: url('../img/logo.png');
      width: 161px;
      height: 94px;
      padding: 0px;
      margin-left: 0px;

      @media screen and (max-width: $break_xs - 1 +'px') {
        display: block;
        margin: 0 auto;
        float: none;
        width: 67px;
        height: 39px;
      }
    }
  }
}

.navbar-nav.navbar-right {
  padding: 45px 0px;
  text-align: right;

  li.one-link {
    padding-top: 14px;
    padding-left: 20px;

    a {
      text-decoration: underline;
      text-transform: uppercase;
      padding-top: 0px;
      padding-bottom: 0px;
      color: $darkGreen;
    }
    a:hover {
      text-decoration: none;
      color: $darkGreen;
    }
   }

   li.two-links {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;

     a {
      padding-top: 0px;
      padding-bottom: 0px;
      font-weight: bold;
      color: $darkGreen;
    }
    a:hover {
     text-decoration: underline;
     color: $darkGreen;
   }
  }

  li.icon-link {
    a {
      padding: 5px;

      i {
        color: $darkGreen;
        font-size: 41.5px;
      }
    }
  }
}
