#project-description {
  background-image: url('../img/colored-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 120em;

  color: white;
  margin: 0 auto;
  text-align: center;

  .container {
    padding: 0px;
  }
  .row {
    margin: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  #description-block-1 {
    background-color: #3cb878;
  }
  #description-block-2 {
    background-color: #85c440;
  }
  #description-block-3 {
    background-color: #006c4a;
  }

  .description-block {
    padding: 20px 15px;
    position: relative;

    p {
      max-width: 315px;
      margin: 0 auto;
    }

    p:first-of-type {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1em;
    }
  }

  @media screen and (min-width: $break_xs + 'px') {
    padding-top: 322px;
    padding-bottom: 322px;
    text-align: left;

    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
    .col-xs-12 {
      padding-left: 15px;
      padding-right: 15px;
    }
    .description-block {
      padding: 20px 15px 0px 15px;
    }
    #description-block-1 {
      padding-bottom: 37px;
    }
    #description-block-2 {
      padding-bottom: 15px;
    }
    #description-block-3 {
      padding-bottom: 37px;
    }
  }

  @media screen and (min-width: $break_sm + 'px') {
    padding-top: 170px;
    padding-bottom: 292px;

    #description-block-1,
    #description-block-3 {
      margin-top: 225px;
    }
  }
}
