#visualizations {
  max-width: 100em;
  margin: 0 auto;
  text-align: center;

  .vizualization {
    position: relative;

    img {
      max-width: 100%;
    }

    .color-overlay {
      width: 100%;
      position: absolute;
      top: 0px;
      opacity: 0;
      background-color: rgba(0, 108, 74, 0.65);

      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s;

      .btn {
        position: relative;
        top: 48%;
      }
    }

    &:hover .color-overlay {
      opacity: 1;
    }
  }

  .col-xs-12 {
    padding: 0px;
  }

  .btn {
    padding: 9px 22px;
  }

  .btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
  }

  .btn-default:hover,
  .btn-default:focus {
    color: #fff;
    background-color: rgba(0, 108, 74, 0.3);
    border-color: #fff;
  }
}
