$darkGreen: #006c4a;
$break_xs: 768;
$break_sm: 992;
$break_lg: 1200;

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $darkGreen;
}

.btn {
  border-radius: 0px;
  border-width: 3px;
  padding: 9px 22px;
}

.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.lb-outerContainer {
  border-radius: 0px;
}

#contact-us {
  font-size: 2.375em;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  background-color: $darkGreen;
  padding: 28px 0px;
  display: block;
  margin: 70px auto;
  width: 552px;
  text-align: center;

  &:hover {
    background-color: rgba(0, 108, 74, 0.8);
    text-decoration: none;
  }

  @media screen and (max-width: 572px) {
    width: 100%;
    margin: 0px auto;
    font-size: 1.375em;
  }
}

@import 'navigation';
@import 'headline-block';
@import 'project-description';
@import 'lokalita';
@import 'cross-section';
@import 'floor-plans';
@import 'visualizations';
@import 'cvf';
